body {
    font-family: Arial, sans-serif;
  }

  .dark-card h3{
    text-align-last: left;
  }

  .card h3{
    text-align-last: left;
  }
  
  .container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    padding: 20px;
  }

  
  .section {
    display: flex;
    gap: 20px;
  }

  .section1 {
    margin-left: 70px;
  }

  .section1 .card3{
    padding: 5px;
    margin-top: -100px;
    margin-bottom: 25px;
  }

  .image-placeholder {
    border-radius: 15px;
    background-color: #e5e3f3;
    margin-top: -190px;
    margin-left: -675px;
    margin-right: 490px;
    padding: 40px 16px;
    text-align-last: left;
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: flex-start; /* Align items to the left */
    height: 100px; /* Set a height to position text at the bottom */
  }

  p {
    margin-top: 10px;
    display: flex;
    text-align-last: left;
  }
  
  .card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    /* box-shadow: 0 4px 8px rgba(12, 12, 246, 0.1); */
  }
  
  .dark-card {
    background-color: #0b2546;
    color: white;
    margin-bottom: 250px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .card {
    background-color: #f8f8f8;
    color: black;
    margin-bottom: 250px;
    border-radius: 10px;
    padding: 10px;
  }
    
  .text-section {
    max-width: 400px;
  }
  
  .button-outline {
    border: 2px solid;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 180px;
  }
  
  .button-outline:hover {
    background-color: rgb(243, 37, 136);
    color: white;
  }

  
  .button-circle {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(232, 232, 242);
    color: white;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .button-container1 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .button-outline1 {
    border: 2px solid;
    background-color: transparent;
    color: #433de9;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .info-box1 {
    display: flex;
    gap: 10px;
    margin-top: 40px;
  }
  
  .info-icon1 {
    margin-top: 10px;
    width: 45px;
    /* gap: 10px; */
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .info-box2 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .info-icon2 {
    margin-top: 10px;
    width: 53px;
    height: 40px;
    gap: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
